<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>New Product</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <span th:text="${'Update Product'}"></span>
                </div>
                <div class="card-body">
                    <form method="post" th:object="${product}" th:action="@{'/products/update/' + ${product.getId()}}">
                        <div class="mb-3">
                            <div class="form-group">
                                <label for="productName">Product name</label>
                                <input type="text" class="form-control" id="productName" aria-describedby="name" placeholder="Enter product name" th:value="${product.name}" th:field="*{name}">
                            </div>
                            <label for="type">Select category</label>
                            <select class="form-control" id="type" th:field="*{category}">
                                <option th:each="type : ${categories}"
                                        th:value="${type}"
                                        th:text="${type}">
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="productWeight">Product weight</label>
                            <input type="number" th:value="${product.weight}" step=any  class="form-control" id="productWeight" aria-describedby="weight" placeholder="Enter product weight" th:field="*{weight}">
                        </div>
                        <div class="form-group">
                            <label for="productDescription">Product description</label>
                            <textarea class="form-control" th:value="${product.description}" id="productDescription" aria-describedby="description" placeholder="Enter product description" th:field="*{description}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="productPrice">Product price</label>
                            <input type="number" step=any class="form-control" id="productPrice" aria-describedby="price" placeholder="Enter product price" th:field="*{price}">
                        </div><br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>