<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Product</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <span th:text="${'Add to shop'}"></span>
                </div>
                <div class="card-body">
                    <form method="post" th:object="${reference}" th:action="@{'/products/shop/' + ${product.getId()}}">
                        <div class="mb-3">
                            <label for="type">Select shop</label>
                            <select class="form-control" id="type" th:field="*{shopId}">
                                <option th:each="type : ${shops}"
                                        th:value="${type.getId()}"
                                        th:text="${type.getName()}">
                                </option>
                            </select>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>