@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    background: url('https://naurok-test2.nyc3.digitaloceanspaces.com/133777/images/620187_1635342341.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    font-family: 'Comfortaa', cursive;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

a.nav-item.nav-link {
    color: white;
}

.sort {
    cursor: pointer;
    margin-right: 2em;
}
