<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/data_table_layout}">
<head>
    <meta charset="utf-8">
    <title>shops</title>
</head>
<body>

<div layout:fragment="data_table_content">

    <tr th:each="shop,iter : ${pageData.getItems()}">
        <td th:text="${iter.count}"></td>
        <td th:text="${shop.getName()}"></td>
        <td th:text="${shop.getAddress()}"></td>
        <td th:text="${shop.getStatus()}"></td>
        <td>
            <a th:href="@{'/products/' + ${shop.getId()}}" th:text="${shop.getCountOfProducts()}" type="button"
               class="btn btn-link">count</a>
            <!-- <a th:href="@{'/products?shopId=' + ${shop.getId()}}" th:text="${shop.getCountOfProducts()}" type="button"
                class="btn btn-link">count</a>-->
        </td>
        <td>
            <a th:href="@{'/shops/details/' + ${shop.getId()}}" type="button" class="btn btn-primary">details</a>
        </td>
        <td>
            <a th:href="@{'/shops/delete/' + ${shop.getId()}}" type="button" class="btn btn-danger">delete</a>
        </td>
    </tr>

</div>

</body>
</html>

<!--
<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="card mt-4">
            <div class="card-header">
                <h1>Shops</h1><br>
                <a class="btn btn-primary" href="#" role="button" th:href="@{/shops/new}">Add new shop</a>
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>address</th>
                        <th>status</th>
                        <th>countOfProducts</th>
                        <th>add product</th>
                        <th>delete</th>
                        <th>update</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="shop : ${shops}">
                        <td th:text="${shop.getId()}"></td>
                        <td th:text="${shop.getName()}"></td>
                        <td th:text="${shop.getAddress()}"></td>
                        <td th:text="${shop.getStatus()}"></td>
                        <td>
                            <a th:href="@{'/products/' + ${shop.getId()}}" th:text="${shop.getCountOfProducts()}">count</a>
                        </td>
                        <td>
                            <a th:href="@{'/shops/product/' + ${shop.getId()}}" type="button"
                               class="btn btn-warning">add product</a>
                        </td>
                        <td>
                            <a th:href="@{'/shops/delete/' + ${shop.getId()}}" type="button" class="btn btn-danger">delete</a>
                        </td>
                        <td>update (like create)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
&lt;!&ndash;
                <a class="btn btn-primary" href="#" role="button" th:href="@{/shops/new}">Add new shop</a>
&ndash;&gt;
            </div>
        </div>
    </div>
</div>
</body>
</html>-->
